[Desktop Entry]
Type=Application
Name=Amplitude
Comment=Lightweight audio player
Exec=amplitude %F
Icon=amplitude
StartupWMClass=amplitude
Terminal=false
Categories=AudioVideo;Audio;Player;
MimeType=audio/mpeg;audio/flac;audio/x-flac;audio/wav;audio/x-wav;audio/ogg;audio/x-vorbis+ogg;audio/x-opus+ogg;audio/mp4;audio/x-m4a;audio/aac;audio/x-mod;audio/x-xm;audio/x-s3m;audio/x-it;
